:host {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.inputAdd {
    outline: 0;
    border-width: 0 0 2px;
    border-color: mediumblue;
}

.inputAdd::placeholder {
    text-align: center;
}

.inputAdd:focus{
    border-color: lime;
}

ul .completed {
    text-decoration: line-through;
    color: gray;
}

ul{
    list-style-type: none;
}

h1{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

div .completed {
    border-width: thin;
    border: mediumseagreen;

}
